<div class="container-fluid">
    <h2 id="page-heading" class="text-center">
        <span>Modalidade</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-modalidade" [routerLink]="['/modalidade/new']"
            title="Cadastrar Modalidade">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <hr />
    <jhi-alert></jhi-alert>
    <form name="searchForm" role="form" novalidate #searchForm="ngForm" (ngSubmit)="query()">
        <div class="container-fluid">
            <h4>
                <span>Consulta</span>
            </h4>
            <div class="form-group form-row">
                <label class="col-md-1 col-form-label" for="field_descricao">Descri&ccedil;&atilde;o</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="descricao" id="field_descricao" [(ngModel)]="modelConsulta.descricao" whitespaceValidator
                        #descricao="ngModel" maxlength="60" />
                </div>
                &nbsp;
                <div [hidden]="!(searchForm.controls.descricao?.dirty && searchForm.controls.descricao?.invalid)">
                    <small class="form-text text-danger" [hidden]="!searchForm.controls.descricao?.errors?.whitespaceValidator">
                        Textos vazios n&atilde;o s&atilde;o aceitos.
                    </small>
                </div>
            </div>
            <div>
                <label class="col-sm-1 col-form-label"></label>
                <button type="submit" class="btn btn-outline-primary col-md-1" title="Consultar">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button type="reset" class="btn btn-warning col-md-1" title="Limpar" (click)="clear()">
                    <fa-icon [icon]="iconFaMinus"></fa-icon>
                </button>
            </div>
        </div>
    </form>
    <br/>
    <div *ngIf="findResults(); else sem_resultados">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="descricao">
                            <span>Descri&ccedil;&atilde;o</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let modalidade of listResultQuery; trackBy: trackId">
                        <td>{{modalidade.descricao}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" [routerLink]="['/modalidade', modalidade.id, 'view' ]" class="btn btn-info btn-sm" title="Visualizar">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                </button>
                                <button type="submit" [routerLink]="['/modalidade', modalidade.id, 'edit']" class="btn btn-primary btn-sm" title="Editar">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                </button>
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'modalidade/'+ modalidade.id + '/delete'} }]" replaceUrl="true"
                                    queryParamsHandling="merge" class="btn btn-danger btn-sm" title="Excluir">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
    <ng-template #sem_resultados>
        <div *ngIf="hasMadeQuery">
            <hr />
            <div class="tex-center">
                <h6>Sem resutados</h6>
            </div>
        </div>
    </ng-template>
</div>
