<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-assunto-heading" jhiTranslate="servicosJuridicosApp.assunto.home.createOrEditLabel">Create or edit a Assunto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!model.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="model.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="servicosJuridicosApp.assunto.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao" [(ngModel)]="model.descricao" required minlength="1"
                        maxlength="70" />
                    <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.minlength" jhiTranslate="entity.validation.minlength"
                            translateValues="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength"
                            translateValues="{ max: 70 }">
                            This field cannot be longer than 70 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="servicosJuridicosApp.assunto.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo" [(ngModel)]="model.ativo" />
                    <div [hidden]="!(editForm.controls.ativo?.dirty && editForm.controls.ativo?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.ativo?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="servicosJuridicosApp.assunto.peso" for="field_peso">Peso</label>
                    <input type="number" class="form-control" name="peso" id="field_peso" [(ngModel)]="model.peso" required min="1" jhiMin="1"
                        max="5" jhiMax="5" />
                    <div [hidden]="!(editForm.controls.peso?.dirty && editForm.controls.peso?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.peso?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.peso?.errors?.min" jhiTranslate="entity.validation.min"
                            translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.peso?.errors?.max" jhiTranslate="entity.validation.max"
                            translateValues="{ max: 5 }">
                            This field cannot be more than 5.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.peso?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;
                    <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
