<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advogado">
            <h2><span>Advogado</span> - Detalhes</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="servicosJuridicosApp.advogado.nome">Nome</span></dt>
                <dd>
                    <span>{{advogado.nome}}</span>
                </dd>
                <dt><span>CPF</span></dt>
                <dd>
                    <span>{{formatCpf()}}</span>
                </dd>
                <dt><span jhiTranslate="servicosJuridicosApp.advogado.ramal">Ramal</span></dt>
                <dd>
                    <span>{{advogado.ramal}}</span>
                </dd>
            </dl>
            <button type="submit" title="Voltar"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>
            </button>

            <button type="button" title="Editar advogado"
                    [routerLink]="['/advogado', advogado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
            </button>
        </div>
    </div>
</div>
